
.bg-burlywood {
    background-color: brown;
    color: rgb(245, 219, 185);
    font-weight: bold;
    border: none;
}

.bg-burlywood:hover {
    background-color: rgb(131, 34, 34); /* Same color on hover */
    color: rgb(245, 219, 185);

}

.text-brown{
    color: rgb(133, 35, 35);

}

.text-brown:hover{
    color: rgb(87, 23, 23);

}
  

  